<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create a Basketball Team</h1>
    <form action='/team' method='POST'>
        <label>Team Name:</label>
        <input type="TEXT" name="name">
        <br>
        <label>Coach:</label>
        <input type="TEXT" name="coach">
        <br>
        <label>Point Guard:</label>
        <input type="TEXT" name="pg">
        <br>
        <label>Shooting Guard:</label>
        <input type="TEXT" name="sg">
        <br>
        <label>Small Forward:</label>
        <input type="TEXT" name="sf">
        <br>
        <label>Power Forward:</label>
        <input type="TEXT" name="pf">
        <br>
        <label>Center:</label>
        <input type="TEXT" name="c">
        <br>
        <input type="submit" id="Submit">
 </body>
</html>


